@import './loader.css';
@import './jknob.css';
@import '../node_modules/react-notifications/dist/react-notifications.css';
@import '../node_modules/rc-switch/assets/index.css';
@import '../node_modules/rc-tree-select/assets/index.css';
@import '../node_modules/rc-select/assets/index.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/bootstrap-social/bootstrap-social.css';

.float-right {
  float: right;
};

.panel-heading-overrides {
  padding: 6px 15px 6px 15px;
}

.panel-body-overrides {
  padding: 5px;
}

.midi-control-label {
  height: 18px;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;

}

.midi-control-label p {
  font-size: 11px;
  padding-top: 2px;
};

.midi-control-box {
  float: left;
  width: 78px;
  height 96px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2px;
};

.m1000-control-box {
  float: left;
  width: 158px;
  height: 96px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2px;

};

.dial-box {
  margin: 9px;
  width: 60px;
  height 60px;
};

.drop-down-box {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
};

.drop-down-select {
  position: relative;
  width: 70px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: -5px;
};

.m1000-drop-down-select {
  position: relative;
  width: 74px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-top: 6px;
}

.drop-down-option {
  width: auto;
};

.toggle-box {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: auto;
};

.bit-mask-box {
  text-align: center;
  vertical-align: middle;
};

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #f5f5f5;
  border-radius: 1px;
  border-color: #000;
  position: relative;
  box-sizing: content-box ;
  border-width: 1px;
  transition: all .1s linear;
  margin-right: 3px;
}
input[type="checkbox"]:checked{
  background-color: #87d068;
}
input[type="checkbox"]:focus{
  outline: 0 none;
  box-shadow: none;
}

.output-error {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
};

.midi-settings-box {
  margin-left: 20px;
  margin-right: 20px;
  float: left;
};

.asciiBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}